.entry-image-wrapper {
    margin-bottom: 20px;
}
.entry-content {
    p {
        color: $mute-color;
    }
}

.image-right {
    float: right;
    margin-left: 15px;
}

.image-left {
    float: left;
    margin-right: 15px;
}