$primary-width: 70%;
$primary-width-flex: 0 0 70%;
$primary-padding: 25px;
$secondary-width: 30%;
$secondary-width-flex: 0 0 30%;
$first: 1;
$second: 2;
$full-width: 100%;
$full-width-flex: 0 0 100%;
$frame-padding: 15px;